
body {
    background: #f1f1f1;
  }

h5 {
    color: lightseagreen !important;
    padding: 10px;
  }

nav {
    background-color: lightseagreen;
    height: 50px;
}

container-fluid {padding:50px}

@media screen and (max-width: 500px) {
  .container {
    height: auto;
    display: table;
  }
  .item:nth-child(2) {
    float: left;
  }
  .item:nth-child(3) {
    float: right;
  }
}

/* .navbar li {
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
  } */