
body {
    background-color: #f1f1f1;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    min-height: 700px; 
  }

h5 {
    color: lightseagreen !important;
    padding: 10px;
  }

nav {
    background-color: lightseagreen;
    height: 50px;
}

container-fluid {padding:50px}

@media screen and (max-width: 650px) {
  .container {
    height: auto;
    display: table;
  }
  .item:nth-child(2) {
    float: left;
  }
  .item:nth-child(3) {
    float: right;
  }
}

@media screen and (max-width: 650px) {
  .navbar-header {
    background-color: lightseagreen;
  }

}

.footer {
  position: absolute;
  left: 0; right:0; bottom:0;
  height: 50px;
  margin-top:-50px
  
} 